<!doctype html>
<html lang="en">
<head>
	<!--
	
	Copyright 2012-2014 Chris McCormick - (Lead Developer, McCormick IT).
	
	With contributions from:
	
		* Muddu Kishan
		* Prathamesh V. Paiyyar
		* Simon Wittber (Different Methods)
		* James Strauss (Onetwenty)

	-->
	
	<title>PSU Tool - 404 - Not Found</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
	
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
	<link href="font/ArchitectsDaughter.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class='server-error'>
		<h1>PSU Tool - Error</h1>
		<h3>404 - Not Found</h3>
		<p>{{ request.path }}</p>
	</div>
</body>
</html>
