@font-face {
	font-family: 'ArchitectsDaughter'; 
	src: url('ArchitectsDaughter.eot');
	src: url('ArchitectsDaughter.eot?#iefix') format('embedded-opentype'),
	url('ArchitectsDaughter.ttf') format('truetype');
}
